<html>



<head>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<link rel="stylesheet" href="assets/nv.d3.css">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> -->
<script src="assets/angular-table.min.js"></script>
<script src="assets/d3.min.js"></script>
<script src="assets/nv.d3.min.js"></script>
<script src="assets/angularjs-nvd3-directives.js"></script>

<style>
.nvtooltip {
  position: absolute;
  background-color: rgba(255,255,255,0.5);
  padding: 2px;
  border: 1px solid rgba(0,0,0,.2);
  z-index: 10000;

  font-family: Arial;
  font-size: 13px;
  text-align: left;
  pointer-events: none;

  white-space: nowrap;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
</style>

<script type="text/javascript">

    // ref: http://stackoverflow.com/a/1293163/2343
    // This will parse a delimited string into an array of
    // arrays. The default delimiter is the comma, but this
    // can be overriden in the second argument.
    function CSVToArray( strData, strDelimiter ){
        // Check to see if the delimiter is defined. If not,
        // then default to comma.
        strDelimiter = (strDelimiter || ",");

        // Create a regular expression to parse the CSV values.
        var objPattern = new RegExp(
            (
                // Delimiters.
                "(\\" + strDelimiter + "|\\r?\\n|\\r|^)" +

                // Quoted fields.
                "(?:\"([^\"]*(?:\"\"[^\"]*)*)\"|" +

                // Standard fields.
                "([^\"\\" + strDelimiter + "\\r\\n]*))"
            ),
            "gi"
            );


        // Create an array to hold our data. Give the array
        // a default empty first row.
        var arrData = [[]];

        // Create an array to hold our individual pattern
        // matching groups.
        var arrMatches = null;


        // Keep looping over the regular expression matches
        // until we can no longer find a match.
        while (arrMatches = objPattern.exec( strData )){

            // Get the delimiter that was found.
            var strMatchedDelimiter = arrMatches[ 1 ];

            // Check to see if the given delimiter has a length
            // (is not the start of string) and if it matches
            // field delimiter. If id does not, then we know
            // that this delimiter is a row delimiter.
            if (
                strMatchedDelimiter.length &&
                strMatchedDelimiter !== strDelimiter
                ){

                // Since we have reached a new row of data,
                // add an empty row to our data array.
                arrData.push( [] );

            }

            var strMatchedValue;

            // Now that we have our delimiter out of the way,
            // let's check to see which kind of value we
            // captured (quoted or unquoted).
            if (arrMatches[ 2 ]){

                // We found a quoted value. When we capture
                // this value, unescape any double quotes.
                strMatchedValue = arrMatches[ 2 ].replace(
                    new RegExp( "\"\"", "g" ),
                    "\""
                    );

            } else {

                // We found a non-quoted value.
                strMatchedValue = arrMatches[ 3 ];

            }


            // Now that we have our value string, let's add
            // it to the data array.
            arrData[ arrData.length - 1 ].push( strMatchedValue );
        }

        // Return the parsed data.
        return( arrData );
    }

</script>

<script>
var app = angular.module('myApp', [
  "angular-table", 'nvd3ChartDirectives'
]);

app.factory('DataManager', function($rootScope, $http, $q, $window, Entry) {

  var data = [];
  var api = {};

  var get_data_deferred;

  api.get_data = function() {

    if (get_data_deferred) {
      return get_data_deferred.promise;
    }

    get_data_deferred = $q.defer();

    if(data && data.length > 0) {
      deferred.resolve(data);
    }

    var url = "data/response.for.site.csv";
    $http.get(url).success(function(d, status, headers, config) {

      data = CSVToArray(d).map(function(e) { return new Entry(e); });
      data = data.slice(1);
      $rootScope.haveData = true;
      get_data_deferred.resolve(data);
      // console.log("got data: ", data);


    }).error(function() { 
      console.log("Error getting data");
      $window.alert("Error getting data!");
      get_data_deferred = undefined;
      $rootScope.have_data = false;
    });

    return get_data_deferred.promise;

  };

  return api;

});

app.factory('Entry', function() {

  var Entry = function(d) {

    this.answer = d[0];
    this.birth_year = d[1];
    this.gender = d[2];
    this.party  = d[3];
    this.reason = d[4];

  }

  return Entry;

});

app.controller("RandomResponseCtrl", function($scope, DataManager, $filter, $timeout) {

  $scope.full_responses = [];
  $scope.curResponse = {};
  $scope.curInd = 0;

  DataManager.get_data().then( function(data) {
    $scope.full_responses = data.filter(function(e) { return e.reason && e.reason.length && e.reason.length > 1; });
    $scope.shuffleResponses();
    $scope.curResponse = $scope.full_responses && $scope.full_responses[$scope.curInd];
  });

  $scope.shuffleResponses = function() {
    
    function shuffle(o){ //v1.0
      for(var j, x, i = o.length; i; j = Math.floor(Math.random() * i), x = o[--i], o[i] = o[j], o[j] = x);
      return o;
    };

    $scope.full_responses = shuffle($scope.full_responses);

  };

  $scope.next = function() {

    if(!$scope.full_responses) {
      return;
    }

    $scope.curInd += 1;

    if ($scope.curInd > $scope.full_responses.length) {
      $scope.curInd = 0;
    }

    $scope.curResponse = $scope.full_responses && $scope.full_responses[$scope.curInd];

  };

  $scope.prev = function() {

    if(!$scope.full_responses) {
      return;
    }

    $scope.curInd -= 1;

    if ($scope.curInd < 0) {
      $scope.curInd = $scope.full_responses.length > 0 ? $scope.full_responses.length - 1 : 0;
    }

    $scope.curResponse = $scope.full_responses && $scope.full_responses[$scope.curInd];

  };  

});

app.controller("SearchCtrl", function($scope, DataManager, $filter, $timeout, $location) {

  $scope.matches = [];
  $scope.query = "";

  var cur_timeout = undefined;

  $scope.counts = [];

  // Defaults:
  $scope.searchReason = true;
  $scope.searchAnswer = false;

  // Parse the url 
  var urlSearch = $location.search();
  
  if (urlSearch.hasOwnProperty('searchAnswer')) {
    $scope.searchAnswer = urlSearch.searchAnswer == 1;
  }

  if (urlSearch.hasOwnProperty('searchReason')) {
    $scope.searchReason = urlSearch.searchReason == 1;
  }

  if (urlSearch.hasOwnProperty('query')) {
    $scope.query = urlSearch.query;
  }

  var updateMatches = function() {

    // Restart
    $timeout.cancel(cur_timeout);

    cur_timeout = $timeout(function() {

      // Build the search criteria
      var criteria = {};

      if($scope.searchAnswer) {
        criteria['answer'] = $scope.query;
      }

      if($scope.searchReason) {
        criteria['reason'] = $scope.query;
      }

      var re = new RegExp($scope.query, "i");

      var filterFunction = function(entry, index) {
        var ret = false;
        ret = ret || ($scope.searchAnswer && re.test(entry.answer));
        ret = ret || ($scope.searchReason && re.test(entry.reason));
        return ret; 
      }

      var mm = $filter('filter')($scope.data, filterFunction) || [];

      // console.log("Have matches!", mm);
      countAnswers(mm);
      $scope.matches = mm;

      $location.path('/').search({query: $scope.query, searchAnswer: $scope.searchAnswer ? 1 : 0, searchReason: $scope.searchReason ? 1 : 0})


    }, 300);

  };

  var countAnswers = function(matches) {

    var counts = {};
    var a, i;

    if(!matches) {
      $scope.total = 0;
      $scope.counts = [];
      return;
    }

    for(i = 0; i < matches.length; i++) {
      a = matches[i].answer;
      if(counts.hasOwnProperty(a)) {
        counts[a] += 1;
      } else {
        counts[a] = 1;
      }
    }

    var counts_array = [];
    angular.forEach(counts, function(value, key) {
      counts_array.push({key: key, value: value});
    });


    // DEBUG
    // counts_array = counts_array.slice(0, 10);
    $scope.counts = counts_array;

    // Loop over the counts to produce total
    $scope.total = 0;
    for(var i = 0; i < $scope.counts.length; i++) {
      $scope.total += $scope.counts[i].value;
    }


    // console.log("Counts: ", $scope.counts, $scope.total);
    return counts_array;

  }

  DataManager.get_data().then(updateMatches);

  $scope.$watch("query", updateMatches);
  $scope.$watch("searchReason", updateMatches);
  $scope.$watch("searchAnswer", updateMatches);

  $scope.tableConfig = {
    itemsPerPage: 10,
    fillLastPage: false,
    maxPages: 5
  };


  $scope.xFunction = function () {
    return function(d) { 
      return d.key; 
    };
  };

  $scope.yFunction = function() {
    return function(d) { 
      return d.value; 
    };
  };

  $scope.toolTipContentFunction = function(){
    return function(key, x, y, e, graph) {
        var count = y.value;
        return '<div style="padding: 2px; background-color: rgba(255, 255, 255, 0.8);">' +
               '<h4>' + key + '</h4>' +
               '<p>Count: ' + $filter("number")(count, 0) + 
               ' (' + $filter('number')(count/$scope.total*100, 1) + '%) </p>' +
               '</div>';
    };
  };


});


app.run(function($rootScope, DataManager) {

  $rootScope.matches = [];
  $rootScope.haveData = false;
  DataManager.get_data().then(function(data) {
    $rootScope.data = data;
    $rootScope.haveData = true;
  });

});

</script>


</head>

<body ng-app="myApp">


<div class="container">


  <div class="row">

    <div class="col-xs-12">
      <h1>Washington Post Airport Survey</h1>

      <p>

        The results of the Washington Post's <a href="http://www.washingtonpost.com/express/wp/2015/03/31/national-reagan-dca-17-years-later-locals-still-cant-agree-on-the-name-of-the-airport-in-question/?wprss=rss_traffic" target="_blank"> Airport Survey</a> are out!
      </p>

      <p>The survey asked respondents to explain how they refer to "the airport in Northern Virginia that's not Dulles".
      Respondents could choose from a list of "DCA", "National", "Reagan", "Reagan National",
      or provide their own answer.
      </p>

      <p>
      Respondents also provided their birth year, gender, party affiliation, and
      a reason for why they call the airport they way they do.

      <p>Have fun!</p>

      <p class="text-danger">WARNING: This site contains unfiltered survery responses and contains
      vulgar and potentially hateful content. Use at your own risk.</p>
      </p>

      <a href="https://twitter.com/share" class="twitter-share-button" data-url="goo.gl/OXR9Ly" data-text="goo.gl/OXR9Ly #DataViz by @lmendy7 @dorageh">Tweet</a>

      
    </div>

  </div>


  <div ng-hide="haveData">

    <div class="col-xs-12">
      Loading Data...

      <div class="progress">
        <div class="progress-bar progress-bar-striped active"
        role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
        style="width: 45%">
        </div>
      </div>

    </div>
  </div>

  <div ng-show="haveData">


    <div class="row" ng-controller="SearchCtrl">

      <div class="col-xs-12">

        <h2>Search</h2>

        <form class="form-inline">

          <div class="form-group">
            <label class="sr-only" for="searchQuery">Query</label>
            <input type="text" class="form-control" id="searchQuery" ng-model="query" placeholder="Search terms">
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="searchAnswer"> Airport Name
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="searchReason"> Reason
            </label>
          </div>

        </form>

        <p>Have {{ matches.length | number }} matches.</p>

      </div>



          <div class="col-md-4" style="max-height: 400px; overflow: auto;">
            <nvd3-pie-chart
              data="counts"
                id="exampleId"
                width="300"
                height="300"
                x="xFunction()"
                y="yFunction()"
                showLabels="true"
                tooltips="true"
                tooltipcontent="toolTipContentFunction()">
                <svg></svg>
            </nvd3-pie-chart>
          </div>

          <div class="col-md-8">
            <at-pagination at-list="matches" at-config="tableConfig"></at-pagination>
            <table at-table at-list="matches" at-paginated at-config="tableConfig" class="table table-bordered">
              <thead>
              </thead>
              <tbody>
                <tr>
                  <td at-implicit at-attribute="answer" at-title="AirportName"></td>
                  <td at-implicit at-attribute="gender" at-title="Gender"></td>
                  <td at-implicit at-attribute="birth_year" at-title="BirthYear"></td>
                  <td at-implicit at-attribute="party" at-title="Party"></td>
                  <td at-implicit at-attribute="reason" at-title="Reason"></td>
                </tr>
              </tbody>
            </table>
            
          </div>


    </div>

    <div ng-controller="RandomResponseCtrl">
      <div class="col-xs-12">

        <h2>Random Answer Generator</h2>

      </div>

      <div class="col-md-3">
        <button class="btn btn-md btn-primary" ng-click="prev()"><span class="glyphicon glyphicon-backward"></span> Back</button>
         <button class="btn btn-md btn-success" ng-click="next()">Forward <span class="glyphicon glyphicon-forward"></span></button>
      </div>

      <div class="col-md-9">
        <table class="table table-bordered table-condensed">
          <tbody>
            <tr>
              <th>Answer</th>
              <td>{{ curResponse.answer}}</td>
            </tr>
            <tr>
              <th>BirthYear</th>
              <td>{{ curResponse.birth_year}}</td>
            </tr>
            <tr>
              <th>Gender</th>
              <td>{{ curResponse.gender}}</td>
            </tr>
            <tr>
              <th>Party</th>
              <td>{{ curResponse.party}}</td>
            </tr>
            <tr>
              <th>Reason</th>
              <td>{{ curResponse.reason}}</td>
            </tr>                                       
          </tbody>
        </table>

      </div>
    </div>
  </div> <!-- have data -->

<div class="col-xs-12">
  <h2>Authors</h2>
  <ul>
    <li>Lee M. Mendelowitz
    <br><a href="mailto:Lee.Mendelowitz@gmail.com" target="_blank">Lee.Mendelowitz@gmail.com</a>
    <br><a href="https://twitter.com/lmendy7" class="twitter-follow-button" data-show-count="false">Follow @lmendy7</a>
      
    </li>
    <li>Joseph Paulson
    <br><a href="mailto:jpaulson@umiacs.umd.edu" target="_blank">jpaulson@umiacs.umd.edu</a> 
    <br><a href="https://twitter.com/dorageh" class="twitter-follow-button" data-show-count="false">Follow @dorageh</a>

    </li>

  </ul>
</div>

</div>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61462133-1', 'auto');
  ga('send', 'pageview');
</script>


<!-- Twitter -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


</body>

</html>